extends ../layout

block content
  form(action='/signup' method='POST')
    .username
      label username
      input(type='text' name='user_name')
    .email
      label email
      input(type='text' name='email')
    .passport
      label password
      input(type='password' name='password')
    .profession
      label 学生
      input(type='radio' name='profession' value='student')
      label 講師
      input(type='radio' name='profession' value='teacher')
      label 学校
      input(type='radio' name='profession' value='school')
    .signup
      input(type='submit')
